$primary: #005286;
$danger: #890C2A;
$warning: rgb(158, 116, 0);
$success: rgb(5, 104, 58);
$white: #beb5ad;

@import 'foundations/reset';
@import 'bootstrap/bootstrap';
@import 'foundations/fonts';
@import 'foundations/global';
@import 'foundations/bootstrap_overrides';

@import 'plugins/simplemde_core';
@import 'plugins/simplemde_theme-mermaids';
@import 'plugins/simplemde_overrides';

@import 'components/navigation';
@import 'components/forms';

@import 'pages/login';
@import 'pages/dashboard';
@import 'pages/admin/users';
@import 'pages/gallery/grid';
@import 'pages/piece/stage';
@import 'pages/piece/view';
@import 'pages/training/gallery';
@import 'pages/training/edit';

@import 'animations';