div#show-stage {
  margin: 0 auto;
  width: 100%;
  margin-top: -70px;
}
div#inline-gallery-container {
  height: 0;
  width: 100%;
  padding-bottom: 65%;
}

@media (max-width: 821px) {  
  div#show-stage {
    width: 100%;
  }
  div#stage-img img {
    max-height: calc(100vh - 200px);
    max-width: calc(100vw - 10vw);
  }
  div#stage-desc h1 {
    font-size: 1.2rem;
  }
  img.stage-direction {
    display: none;
  }
}