.list-group .list-group-item {
  background-color: #121212;
  border-top: 2px solid #282828;
  border-left: 2px solid #282828;
  border-right: 2px solid #282828;
  border-bottom: 0px solid #282828;
  color: #FAF0E6;
}
.list-group .list-group-item:last-child {
  border-bottom: 2px solid #282828;
}
img.piece {
  border-radius: 5px;
  border: 1px solid #1a1a1a;
}