form {
  color: #121212;
}
form {
  margin-top: 60px;
}
.form-text {
  color: #FFF;
}
#form-id {
  display: none;
}
.editor-toolbar {
  background-color: #FFF;
  opacity: 1;
}
.editor-toolbar:hover {
  opacity: 1;
}