nav {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
div#nav-stage {
  height: 60px;
  width: 100%;
  color: #FAF0E6;
  background-color: #36363670;
  backdrop-filter: blur(5px);
  // border-radius: 15px;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}
#nav-left, #nav-right, #nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#nav-top {
  justify-content: space-between;
}
.nav-entry {
  font-size: 1rem;
  text-decoration: none;
}
a.nav-link {
  text-decoration: none;
  font-weight: 300;
  transition: 0.5s;
}
a.nav-link:hover {
  transition: 0.5s;
  color: rgb(105, 160, 242);
}
a.nav-active {
  font-weight: 700;
  color: rgb(13, 110, 253);
}
#nav-left .nav-entry {
  margin-right: 20px;
}
#nav-right .nav-entry {
  margin-left: 20px;
}
img#profile-pic {
  height: 45px;
  width: auto;
  border-radius: 50%;
  border: 3px solid #121212;
  transition: 0.3s;
}
img#profile-pic:hover {
  border-radius: 20%;
}
.nav-entry#flag {
  color: #FAF0E6;
  font-size: 1.8rem;
  font-weight: 100;
}
.nav-entry#nav-divider {
  font-weight: 100;
  font-size: 1.5rem;
}
#nav-expand {
  display: none;
}

@media (max-width: 821px) {
  nav {
    margin-top: 0px;
    align-items: flex-start;
  }
  div#nav-stage {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px 20px 10px 15px;
  }
  #nav-top {
    width: 100%;
  }
  #nav-right {
    display: none;
    flex-direction: column;
  }
  div#nav-divider {
    display: none;
  }
  a.nav-link {
    padding-top: 40px;
  }
  a.nav-link:last-child {
    padding-bottom: 40px;
  }
  #nav-expand {
    display: block;
  }
}