#login-logo {
  fill: $white;
}
#login-box form {
  background-color: #282828;
}
#login-container h1 {
  color: $white;
  font-size: 3.5rem;
}
#login-container p#tagline {
  font-weight: 100;
}
form#login-form-wrapper {
  background-color: rgb(18, 18, 18);
  border: solid 2px rgb(40, 40, 40);
}