#grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
img.grid-item {
  width: 200px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
}

@media (max-width: 821px) {
  img.grid-item {
    width: 140px;
  }
}